@model IEnumerable<Rentify.Models.Pelicula>

@{
    ViewBag.title = "Peliculas";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Peliculas</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pelicula</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pelicula in Model)
        {
            <tr>
                <td>@pelicula.Nombre</td>
            </tr>
        }
    </tbody>
</table>
